<h1>Products</h1>
<!-- <p>Find me in app/views/products/show.html.erb</p> -->

<p><%= @product.name %>, <%= @product.description %>, <%= @product.price_in_cents %></p>

<%= link_to "Edit Product", "/products/#{@product.id}/edit" %>
